/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General styles */
body {
    font-family: 'montserrat', sans-serif;
    font-weight: 450;
    background-color: #fdfde7;
}

h1, h2, h3 {
    font-family: 'merriweather', sans-serif;
}

.sub-title {
    background-color: #45B69C;
    margin: 25px 0;
    padding-top: 10px;
}

.sub-title-dark {
    background-color: #13505B;
    color:#fdfde7;
    margin: 25px 0;
    padding-top: 5px;
}

.center-text {
    text-align: center;
}

hr {
    margin: 10px 0;
}

/* Header */
header {
    background-color: #13505B;
    color: #FFB2E6;
    padding: 0.5rem 1rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo {
    height: 60px;
    width: 60px;
}

/* Navbar */

nav {
    position: absolute;
    background-color: #13505B;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    z-index: 15;
}

#nav-items {
    font-size: 120%;
    list-style-type: none;
    font-family: 'montserrat', sans-serif;
}

#nav-items > li {
    margin-bottom: 0.8em;
}

#nav-items a {
    color: #fccded;
}

.active {
    border-bottom: 1px solid #FFB2E6;
}



/* nav toggle */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #fccded;
}

#nav-toggle:checked~nav {
    display: block;
}



/* MAIN CONTENT */
main {
    margin-top: 0px;
}

/* Hero section */
#hero-section {
    background: url("../images/sunflower_hero.jpg") no-repeat center center/cover;
    position: relative;
    width: 100%;
    height: 450px;
}

#hero-text {
    background-color: rgba(255, 178, 230, .5);
    color:rgba(0, 0, 0, 0.747);
    position: absolute;
    width: 75%;
    margin-top: 25px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 5px;
}

#hero-text > h1 {
    font-size: 150%;
    font-style: italic;
}

/* List section */

.facts-list {
    list-style-type: none;
}

.facts-list span {
    font-size: 2rem;
    margin: 3px 8px 0px 0px;
}

/* Quotes section */
#quotes {
    background: url("../images/sunflowers.jpg") no-repeat center center / cover;
    background-attachment: fixed;

}

.quotes {
    margin-top: 30px;
    border-radius: 20px;
}

#quote-1 {
    background-color: rgba(255, 255, 255, 0.9);
}
#quote-2 {
    background-color: rgba(252, 205, 237, 0.9);
}
#quote-3 {
    margin-bottom: 30px;
    background-color: rgba(69, 182, 156, 0.9);
}

/* Cards section */
.cards {
    margin-top: 25px;
}

.card {
    padding-top: 10px;
}

#card-1{
    border-color: #95818D;
    background-color: #afa4ab;
    border-width: 5px;
}

#card-2{
    border-color: #ffe45e;
    background-color: #ffea81;
    border-width: 5px;
}

#card-3{
    border-color:#FFB2E6;
    background-color:#fccded;
    border-width: 5px;
}

.btn-primary {
    background-color: #1d5f6b;
    border-color:#1d5f6b;
    box-shadow: 2px 2px rgb(51, 51, 51);
}




/* FOOTER */
footer {
    background-color: #95818D;
    height: 50px;
    position: relative;
    bottom: 0;
}

.footer-icon {
    color: white;
    font-size: 2rem;
}

/* Empty pages */

.error-page-footer {
    position: absolute;
    bottom: 0;
}

.page-error-message {
    margin-top: 30px;
    margin-left: 10px;
}

/* Media query: large phones and up */
@media screen and (min-width: 425px) {
    .nav-toggle-label {
        font-size: 2rem;
    }

    #hero-text {
        width: 60%;
        margin-top: 20px;
        margin-left: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }
}

/* Media query: 520px and larger */
@media screen and (min-width: 520px) {
    #hero-text {
        width: 50%;
    }
}

/* Media query: tablets and larger */
@media screen and (min-width: 600px) {

    /* Header */
    #logo {
        height: 90px;
        width: 90px;
    }

    nav {
        display: block;
        position: relative;
    }

    #nav-items {
        display: flex;
    }

    #nav-items>li {
        margin: auto;
        align-self: baseline;
    }

    .nav-toggle-label {
        display: none;
    }

    /* MAIN CONTENT */
    /* Hero section */

    #hero-text {
        width: 42%;
        margin-top: 80px;
        margin-left: 10px;
        padding-left: 10px;
        padding-top: 10px;
    }

}

/* Media query: Bootstrap medium and up */
@media screen and (min-width: 768px){
    .quotes {
        border-radius: 20px;
    }
    
    #quote-2 {text-align: right;
    }
}


/* Media query: laptops and larger */
@media screen and (min-width: 992px) {
    
    #hero-text {
        width: 25%;
        margin-top: 80px;
        margin-left: 20px;
        padding-left: 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    #hero-text > h1 {
        font-size: 200%;
    }
}