/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Header */
header {
    background-color: #13505B;
    color: #FFB2E6;
    padding: 0.5rem 1rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#logo {
    height: 60px;
    width: 60px;
}

/* Navbar */

nav {
    position: absolute;
    background-color: #13505B;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}

#nav-items {
    font-size: 120%;
    list-style-type: none;
    font-family: 'montserrat', sans-serif;
}

#nav-items > li {
    margin-bottom: 0.8em;
}

#nav-items a {
    color: #fccded;
}

.active {
    border-bottom: 1px solid #FFB2E6;
}



/* nav toggle */
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.5rem;
    color: #fccded;
}

#nav-toggle:checked~nav {
    display: block;
}



/* Main content */
main {
    margin-top:10px;
}


/* Empty pages 
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}*/



/* Media query: large phones and up */
@media screen and (min-width: 425px) {
    .nav-toggle-label {
        font-size: 2rem;
    }
}

/* Media query: tablets and larger */
@media screen and (min-width: 600px) {

    /* Header */
    #logo {
        height: 90px;
        width: 90px;
    }

    nav {
        display: block;
        position: relative;
    }

    #nav-items {
        display: flex;
    }

    #nav-items>li {
        margin: auto;
        align-self: baseline;
    }

    .nav-toggle-label {
        display: none;
    }

}